ion-view view-title="{{ title }}">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
      <div style="margin-top: 45px"></div>
         <div class="tabs-striped tabs-color-dark" style="position: static; margin-bottom: 15px;">
                <div class="tabs" style="position: static;">
                    <a class="tab-item" href="#/app/home" data-ink-color="#ef473a" data-ink-opacity=".35">
                        <i class="icon ion-home"></i> Home
                    </a>
                    <a class="tab-item" href="#/app/list_dosen" data-ink-color="#ef473a" data-ink-opacity=".35">
                        <i class="icon ion-person"></i> Dosen
                    </a>
                    <a class="tab-item active" href="#/app/list_mahasiswa" data-ink-color="#ef473a" data-ink-opacity=".35">
                        <i class="icon ion-university"></i> Mahasiswa
                    </a>
                    <a class="tab-item" ref="#/app/setting" data-ink-color="#ef473a" data-ink-opacity=".35">
                        <i class="icon ion-gear-a"></i> Setting
                    </a>
                </div>
            </div>
</ion-view>